.BI {
  border: none;
  background: transparent;
  border-radius: 15px;
  width: 26px;
  height: 26px;
  font-size: 18px;
  padding: 0;
  text-align: center;
}

.BIL {
  font-family: arial;
  &:before {
    margin-right: 5px;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  &:before {
    font-family: "KendoUI";
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    speak: none;
  }
}

.icon-new-project:before { content: "\E09C" }
.icon-import-project:before { content: "\E039" }
.icon-preview:before { content: "\E09B" }
.icon-trash:before { content: "\E0C3" }
.icon-config:before { content: "\E0C9" }
.icon-new-window:before { content: "\E076" }
.icon-add-file:before { content: "\E039" }
.icon-clear-console:before { content: "\E036" }
.icon-jshint:before { content: "\E06C" }
.icon-kendo:before { content: "\E107" }
.icon-dependencies:before { content: "\E0BE" }
.icon-compile:before { content: "\E0C1" }
.icon-picture:before { content: "\E07C" }
.icon-bundle:before { content: "\E096" }
.icon-build:before { content: "" }
